@charset "utf-8";
* {margin: 0; padding: 0;}
    .wrapper {
        width: 100%;
    }
    h2 {
        margin: 100px 60px 20px;
        text-align: right;
        color: #333;
        font-weight: 400;
    }
    li {
        list-style: none;
        display: list-item;
    }
    a {
        text-decoration: none;
        color: black;

    }
    .top,.leftMenu,.rightMenu {
        position: fixed;
        text-transform: uppercase;
    }
    .top {
        position: fixed;
        top : 30px;
        width: 100%;
        z-index: 4;
    }
    .top .topin {
        font-size: 50px;
        text-align: center;
        margin: 0 auto;
        
    }
    .topin>a>img {
        width: 480px; height: 50px;
    }
    .container {
        position: relative;
        min-height: 100%;
        margin: 150px 120px 0;
    }
    .leftMenu {
        background-color: bisque;
        left: 0;
        top : 0;
        width: 150px;
        height: 100%;
        z-index: 6;
    }
    h3 {
        font-size: 12px;
        font-weight: 900;
    }
    .leftMenu .product {
        margin: 50px 0 0 30px;
        
    }
    .leftMenu .community {
        margin: 70px 0 0 30px;
        
    }
    .leftMenu .cs-center {
        position: absolute;
        bottom: 40px;
        left: 30px;
        line-height: 20px;
    }
    .leftMenu a, .rightMenu a, span, .cs-center {
        font-size: 10px;
    }
    .rightMenu {
        background-color: bisque;
        right: 0;
        top : 0;
        width: 150px;
        height: 100%;
        z-index: 5;
        text-align: right;
    }
    .rightMenu>ul {
        margin: 50px 30px 0 0;
    }
    .rightMenu .search {
        position: absolute;
        right: 0;
        bottom: 40px;
        padding: 0 5px;
        width: 100%;
        opacity: 0.7;
    }
    .rightMenu .search .icon {
        margin: 0 0 15px;
        font-size: 0;
    }
    .icon {
        display: inline-block;
    }
    .rightMenu .search .searchbox {
        position: relative;
        border: 1px solid #333;
        border-radius: 3px;
        padding: 3px 4px 4px 4px;
        display: inline-block;
        background-color: lavender;
        width: 80%;
    }
    .rightMenu .search .text {
        margin: 0 0 0 25px;
        width: 70%;
        height: 20px;
        color: #333;
        background: none;
        border: none;
        font-size: 16px;
        line-height: 24px;
    }
    .fa-search {
        position: absolute;
        left: 5px;
        top : 6px;
    }

    .content {     
        margin: 0 40px;
        padding: 0;
        vertical-align: top;
    }
    #contents {
        position: relative;
        letter-spacing: 0;
    }

    .view {
        padding-bottom: 0;
        margin: 30px -10px 0;
    }
    .view ul {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .view li {
        display: inline-block;
        width: 33.33%;
        
    }
    .view li a {
        display: block;
        position: relative;
        /* padding: 10px; */
        margin: 0 5px;
        text-align: center;
        font-size: 12px;
    }
    .view li:hover {
        opacity: 0.6;
        transition: .5s;
    }

    .view a img {
        max-width: 100%;
        height: auto;
        border: none;
        vertical-align: top;
    }
    #community {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
    #community .notice {
        display: inline-block;
    }
    #community .QA {
        display: inline-block;
    }
    #community .review {
        display: inline-block;
    }
    
    .footer {
        position: relative;
        margin: 80px 90px 0;
        border-top: 1px solid #dedede;
    }
    #footer {
        position: relative;
        margin: 0 auto 0;
        padding: 40px;
        font-size: 10px;
        text-align: center;
    }
    #foot-logo {
        font-size: 20px;
        vertical-align: middle;
        margin-bottom: 25px;
        text-align: left;
    }
    #notice ul li {
        text-align: left;
    }
    .link {
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        margin: 0 100px 0 0;
        line-height: 22px;     
    }
    p {
        margin: 20px 0 0;
        text-align: left;
    }
    .information1 {
        display: inline-block;
        line-height: 22px;
    }
    .information1 ul li {
        text-align: left;
    }
    #mobile {
            position: fixed;
            padding: 50px 0 0 30px;
            left:-400px; top:0px;
            width: 320px;
            height: 100%;
            background-color: bisque;
            transition: left .5s;
            font-size: 10px;
            z-index: 100;
        }
        .top #mobile {
            z-index: 100;
        }
        #mobile a {
            line-height: 20px;
        }
        #mobile h3 {
            margin-bottom: 10px;
        }
        #mobile .cs-center {
            position: absolute;
            bottom: 100px;
            left: 30px;
            line-height: 15px;
        }
        #mobile .community {
            margin: 30px 0 0 0;
        }
        #mobile .user-area {
            margin: 30px 0 0 0;
        }
        #mobile.active {
            left: 0px;
        }
        #mobile .search {
            margin: 15px 0 0 0;
        }
        .tab {
            display: none;
            position: absolute;
            left: 10px; top: 7px;
            width: 40px; 
            height: 40px; 
        }
        .top .tab span {
            display: block;
            width: 0; height: 0;
            overflow: hidden;
            text-indent: -999999px;
        }
        .top .searchbox {
            position: absolute;
            right: 10px; top: 3px;
            width: 40px;
            height: 40px;
        }
        .dim {
            display: none;
            position: fixed;
            left: 0; right: 0; top: 0; bottom: 0;
            background-color: rgba(0,0,0,.4);
            z-index: 3;
        }
        .dim.active{
            display: block;
        }

    @media screen and (min-width: 367px) and (max-width: 767px){
        .topin>a>img {
            width: 280px; height: 50px;
        }
            .top {
                top:10px;
            }
            .container {
                margin: 150px 0 0 0;
            }
            .content {
                margin: 10px;
            }
            .leftMenu,.rightMenu {
                display: none;
            }
            .top .tab {
                display: block;
            }
            .view li {
                width: 50%;
            }
            .footer {
                margin: 80px 0 0 0;
            }
        }
    @media screen and (min-width: 768px) and (max-width: 1023px){
            .topin>a>img {
            width: 420px; height: 50px;
            }
            .top {
                 top:20px;
             }
            .container {
                margin: 150px 85px 0;
            }
            .leftMenu {
                width: 115px;
            }
            .leftMenu>.product {
                margin: 50px 0 0 20px;
            }
            .leftMenu>.community {
                margin: 70px 0 0 20px;
            }
            .leftMenu .cs-center {
                left: 20px;
            }
            .rightMenu {
                width: 115px;
            }
            .rightMenu>ul {
                margin: 50px 20px 0 0 ;
            }
            .view li {
                width: 50%;
            }
        }  